{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
    <div class="main__content">
        <h1 class="title title--center">Мій плейліст №2</h1>

        <a href="#" class="add-button">
            <img src="/svg/add_button.svg" alt="choose__image">
        </a>
    </div>
</main>