<div class="card">
    <div class="card__header">
        <h2 class="card__title">{{data.message}}</h2>
        <h3 class="card__subtitle">{{data.info}}</h3>
    </div>
    <a href="{{data.link}}" class="card__button">Повернутись назад</a>
</div>