{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="form">
  <h1 class="form__title">Створити користувача</h1>
  <form method="POST" action="/user-create">
    <div class="form__content">
      <div class="form_field">
        <label for="email" class="form__label">Email адреса</label>
        <input type="email" name="email" class="form__input">
      </div>
      <div class="form_field">
        <label for="login" class="form__label">Нікнейм</label>
        <input type="login" name="login" class="form__input">
      </div>
      <div class="form_field">
        <label for="password" class="form__label">Пароль</label>
        <input type="password" name="password" class="form__input">
      </div>
      <button class="form_button">
        Створити
      </button>
    </div>
  </form>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}