<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Info</title>
</head>

<body>
    <h1>{{info}}</h1>
    <a href="/">Повернутися назад</a>
    <div id="order-details">
        <!-- Order details will be populated here using JavaScript -->
    </div>
    <button onclick="editOrder()">Edit Data</button>

    <script>
        function editOrder() {
            window.location.href = "purchase-edit.html";
        }
    </script>
</body>

</html>