{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
    <div class="main__content">
        <header class="header">
            <a href="/">
                <img src="/svg/cross_back.svg">
            </a>
        </header>
        <h1 class="title title--center">Назвіть плейліст</h1>

        <form method="POST" action="/spotify-create" class="form">
            <input type="text" class="form__field" placeholder="Назва">

            <button class="form__button">Створити</button>
        </form>
    </div>
</main>