{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
    {{> heading title="Товари" info="Комп'ютери та ноутбуки/ Комп'ютери, неттопи, моноблоки"}}

    <div class="purchase-list">
        {{> purchase-product data=data}}
        {{> purchase-product data=data}}
        {{> purchase-product data=data}}
    </div>
</main>