<main>
    <section>
        <div class="form">
            <h1 class="form__title">Створити користувача</h1>
            <form method="POST" action="/user-create">
                <div class="form__content">
                    <div class="form__field">
                        <label for="email" class="form__label">Email адреса:</label>
                        <input type="email" name="email" class="form__input">
                    </div>
                    <div class="form__field">
                        <label for="login" class="form__label">Нікнейм</label>
                        <input type="login" name="login" class="form__input">
                    </div>
                    <div class="form__field">

                    </div>
                </div>
            </form>
        </div>
    </section>
</main>